.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.cardConatiner {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  margin: auto;
  width: 70%;
}

.btnContainer {
  margin-top: 3rem;
}
